.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  
  .card-body{
      
      width: 30%;
      margin-bottom: 20px;
      height: 20%;
      border: 5px solid rgb(19, 100, 181);
      background-color: rgb(149, 169, 200)
  }
  
  button{
      width:200px;
      height: 50px;
      margin-top: 30px;
      margin-left: 650px;
      margin-bottom: 30px;
      cursor: pointer;
      border:3px solid black;
      background-color: brown;
      color: white;
      
  }
  
  img{
      margin-left: 150px;
  }
  
  h2{
      margin-left: 150px;
  }
  
  p{
      margin-left: 120px;
  }
  
  .id{
  margin-left: 200px;
  }